* {
background-color: #626670;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  color: #BEC6C3;
  margin: 3% 0% 0% 3%;
  font-size: 500%;
}

h2{
  font-family: 'Work Sans', sans-serif;
  color: #E0D7D3;
  margin: 0% 0% 0% 3.5%;
  font-size: 150%;
}

ul {
  font-family: 'Work Sans', sans-serif;
  color: white;
  margin: 1% 0% 0% 6%;
  font-size: 100%;
}

a{
  color: white;
}
