*
body {
background-color: #626670;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #BEC6C3;
  margin: 3% 0% 0% 3%;
  font-size: 500%;
}

h2{
  font-family: 'Work Sans', sans-serif;
  color: #E0D7D3;
  margin: 0% 0% 0% 3.5%;
  font-size: 150%;
}

ul {
  font-family: 'Work Sans', sans-serif;
  color: white;
  margin: 1% 0% 0% 6%;
  font-size: 100%;
}

a{
  color: white;
}
