*
body {
background-color: #F2EDD8;
/* change background color of entire page */
}

@import åurl('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* import typeface from google fonts */

.blue-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  color: #90B1AA;
  margin: 3% 0% 0% 3%;
  font-size: 500%;
  /* change header typeface, weight, size, spacing, and color to blue */
}

.orange-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  color: #D76735;
  margin: 3% 0% 0% 3%;
  font-size: 500%;
  /* change header typeface, weight, size, spacing, and color to orange */
}

.orange-subtitle{
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-style: italic;
  color: #D76735;
  margin: 1% 0% 0% 3.5%;
  font-size: 175%;
    /* change sub-header typeface, weight, size, spacing, and color to orange */
}

.blue-subtitle{
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-style: italic;
  color: #90B1AA;
  margin: 1% 0% 0% 3.5%;
  font-size: 175%;
    /* change sub-header typeface, weight, size, spacing, and color to blue */
}

.list-layout {
  font-family: 'Work Sans', sans-serif;
  line-height: 150%;
  margin: 1% 0% 0% 6%;
  font-size: 125%;
    /* change list of links typeface, size, and spacing */
}

.blue-links {
  color: #90B1AA;
    /* change list of links color to blue */
}

.orange-links {
  color: #D76735;
    /* change list of links color to orange */
}

.orange-hovers:hover, .orange-hovers:active, .orange-hovers:focus {
  color: #D76735;
    /* change hover color of links to orange */
}

.blue-hovers:hover, .blue-hovers:active, .blue-hovers:focus {
  color: #90B1AA;
    /* change hover color of links to blue */
}

.orangebutton{
  background-color: #D76735;
  border: none;
  color: white;
  font-size: 100%;
  font-family: 'Work Sans';
  text-transform: uppercase;
  padding: 15px 15px 15px 15px;
  margin: 1% 0% 0% 6%;
  /* coding colors and layout into button 1 to orange */
}

.button-blue-hover:hover, .button-blue-hover:active, .button-blue-hover:focus {
  background-color: #90B1AA;
}
/* change hover color of button 1 to blue */
