*
body {
background-color: #F2EDD8;
/* change background color of entire page */
}

@import åurl('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* import typeface from google fonts */

.blue-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  color: #90B1AA;
  margin: 3% 0% 0% 3%;
  font-size: 500%;
  /* change class typeface, weight, size, spacing, and color to blue for header */
}

.orange-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  color: #D76735;
  margin: 3% 0% 0% 3%;
  font-size: 500%;
  /* change class typeface, weight, size, spacing, and color to orange for header */
}

.orange-subtitle{
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-style: italic;
  color: #D76735;
  margin: 1% 0% 0% 3.5%;
  font-size: 175%;
    /* change class typeface, weight, size, spacing, and color to orange for sub-header */
}

.blue-subtitle{
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-style: italic;
  color: #90B1AA;
  margin: 1% 0% 0% 3.5%;
  font-size: 175%;
    /* change class typeface, weight, size, spacing, and color to blue for sub-header */
}

.list-layout {
  font-family: 'Work Sans', sans-serif;
  line-height: 150%;
  margin: 1% 0% 0% 6%;
  font-size: 125%;
    /* change list of links typeface, size, and spacing */
}

.blue-links {
  color: #90B1AA;
    /* change class color to blue for list of links */
}

.orange-links {
  color: #D76735;
    /* change class color to orange for list of links */
}

.orange-hovers:hover, .orange-hovers:active, .orange-hovers:focus {
  color: #D76735;
    /* change class color of links to orange for hover */
}

.blue-hovers:hover, .blue-hovers:active, .blue-hovers:focus {
  color: #90B1AA;
    /* change change color of links to blue for hover */
}

button{
  background-color: #D76735;
  border: none;
  color: white;
  font-size: 100%;
  font-family: 'Work Sans';
  text-transform: uppercase;
  padding: 15px 15px 15px 15px;
  margin: 2% -4% 0% 6%;
  /* coding colors and layout into button*/
}

.button1:hover, .button1:active, .button1:focus {
  background-color: #90B1AA;
  /* create class for button 1 so that it has hover */
}

.button2:hover, .button2:active, .button2:focus {
  background-color: #D76735;
  /* create class for button 2 so that hover is same color as base button color */
}

.container{
  background-size: cover;
  height: 700px;
  margin: 0 auto;
  width: 50%;
}

.container{
    background: url('../img/cactus.jpg') blue;
}

.img-title{
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 350%;
  font-weight: 900;
  position: relative;
  text-align: center;
  top: 200px;
  /* change class typeface, weight, size, spacing, and color to blue for header */
}
