*
body {
background-color: #F2EDD8;
/* change background color of entire page */
}

@import åurl('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* import typeface from google fonts */

.blue-hovers:hover, .blue-hovers:active, .blue-hovers:focus {
  color: #90B1AA;
    /* change change color of links to blue for hover */
}

.blue-links {
  color: #90B1AA;
    /* change class color to blue for list of links */
}

.blue-subtitle{
  color: #90B1AA;
  font-family: 'Work Sans', sans-serif;
  font-size: 175%;
  font-style: italic;
  font-weight: 200;
  margin: 1% 0% 0% 3.5%;
    /* change class typeface, weight, size, spacing, and color to blue for sub-header */
}

.blue-title {
  color: #90B1AA;
  font-family: 'Work Sans', sans-serif;
  font-size: 500%;
  font-weight: 900;
  margin: 3% 0% 0% 3%;
  /* change class typeface, weight, size, spacing, and color to blue for header */
}

button{
  background-color: #D76735;
  border: none;
  color: white;
  font-family: 'Work Sans';
  font-size: 100%;
  margin: 2% -4% 0% 6%;
  padding: 15px 15px 15px 15px;
  text-transform: uppercase;
  /* coding colors and layout into button*/
}

.button1:hover, .button1:active, .button1:focus {
  background-color: #90B1AA;
  /* create class for button 1 so that it has hover */
}

.button2:hover, .button2:active, .button2:focus {
  background-color: #D76735;
  /* create class for button 2 so that hover is same color as base button color */
}

.container1{
  background-image: url("https://github.com/dagnypaulsen/gra-321/blob/master/code-exercises/img/dean.jpg?raw=true");
  background-size: cover;
  height: 700px;
  margin: 0 auto;
  width: 50%;
}
  /* backtround image for exercise 2 */

  .container2{
    background-image: url("https://github.com/dagnypaulsen/gra-321/blob/master/code-exercises/img/magazine-layout.png?raw=true");
    background-size: cover;
    height: 700px;
    margin: 0 auto;
    width: 50%;
  }
    /* backtround image for exercise 4 */

.img-title{
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 350%;
  font-weight: 900;
  position: relative;
  text-align: center;
  top: 200px;
  /* change class typeface, weight, size, spacing, and color for image text */
}

.list-layout {
  font-family: 'Work Sans', sans-serif;
  font-size: 125%;
  line-height: 150%;
  margin: 1% 0% 0% 6%;
    /* change list of links typeface, size, and spacing */
}

.orange-hovers:hover, .orange-hovers:active, .orange-hovers:focus {
  color: #D76735;
    /* change class color of links to orange for hover */
}

.orange-links {
  color: #D76735;
    /* change class color to orange for list of links */
}

.orange-subtitle{
  color: #D76735;
  font-family: 'Work Sans', sans-serif;
  font-size: 175%;
  font-style: italic;
  font-weight: 200;
  margin: 1% 0% 0% 3.5%;
    /* change class typeface, weight, size, spacing, and color to orange for sub-header */
}

.orange-title {
  color: #D76735;
  font-family: 'Work Sans', sans-serif;
  font-size: 500%;
  font-weight: 900;
  margin: 3% 0% 0% 3%;
  /* change class typeface, weight, size, spacing, and color to orange for header */
}

p{
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-size: 500%;
  font-weight: 900;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  top: 65px;
  position: relative;
  /* change class typeface, weight, size, spacing, and color to orange for header */
}

/* ------ Media Queries ------ */
@media screen and (max-width:1000px) {
  body{
    background-color: black;
  }
}

@media screen and (max-width:700px) {
  body{
    background-color: #FBD266;
  }
}
