*
body {
background-color: #FFFFFF;
/* change background color of entire page */
}

.containermain{
  background-size: 1440px;
  height: 1864px;
  width: 1440px;
}

.topcontainer{
  height: 1007px;
  width: 1355px;
}

.container-title{
  background-color: pink;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
  height: 97px;
  line-height: 50px;
  letter-spacing: -45;
  margin-bottom: 14.5px;
  margin-left: 60px;
  margin-right: 61.5px;
  margin-top: 233px;
  width: 300px;
    /* change class color, typeface, size, font weight, and line height*/
}

.container-subtitle{
  background-color: yellow;
  color: #000000;
  font-family: 'Georgia', sans-serif;
  font-size: 25px;
  font-weight: regular;
  height: 125px;
  line-height: 30pt;
  letter-spacing: 11;
  margin-bottom: 895px;
  margin-left: 60px;
  margin-top: 14.5px;
  width: 300px;
    /* change class color, typeface, size, font weight, and line height*/
}

.container-pagenumber{
  color: #000000;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18pt;
  font-weight: regular;
  line-height: 90pt;
  letter-spacing: -30;
    background-color: blue;
    /* change class color, typeface, size, font weight, and line height*/
}

.container-text{
  color: #000000;
  font-family: 'Helvetica', sans-serif;
  font-size: 18;
  font-weight: regular;
  line-height: 25.5pt;
  letter-spacing: -30;
    background-color: salmon;
    /* change class color, typeface, size, font weight, and line height*/
}

.container-image1{
  background-image: url(https://github.com/dagnypaulsen/gra-321/blob/master/code-exercises/magazine-layout/img/bowls.png?raw=true);
  height: 1007px;
  margin-bottom: 13.5px;
  margin-left: 61.5px;
  margin-right: 25px;
  margin-top: 70px;
  width: 932px;
}

.container-image2{
  background-image: url(https://github.com/dagnypaulsen/gra-321/blob/master/code-exercises/magazine-layout/img/knife-block.png?raw=true);
  height: 672px;
  margin-bottom: 88px;
  margin-left: 61.5px;
  margin-right: 25px;
  margin-top: 13.5px;
  width: 932px;
}

  /* background image for exercise 4 */
