*
body {
  background-color: #ffffff;
  /* change background color of entire page */
}

.column1{
  width: 33%;
  position: relative;
/* size out column1 */
}

.column2{
  width: 67%;
  position: relative;
/* size out column1 */
}

.container-image1{
  margin-bottom: 2%;
  margin-top: 4%;
  width: 65%;
  /* margins and size for image1 */
}

.container-image2{
  margin-bottom: 3%;
  width: 65%;
  /* margins and size for image2 */
}

.container-pagenumber{
  color: #000000;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  float: right;
  font-size: 18px;
  font-weight: regular;
  height: 5%;
  margin-right: auto;
  width: 25%;
    /* change layout and sizing for pagenumber */
}

.container-subtitle{
  color: #000000;
  font-family: 'Georgia', sans-serif;
  font-size: 25px;
  font-weight: regular;
  height: 62.5%;
  line-height: 30px;
  letter-spacing: 3px;
  margin-left: 4%;
  width: 75%;
    /* change layout and sizing for subtitle */
}

.container-text{
  color: #000000;
  font-family: 'Helvetica', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: regular;
  line-height: 25px;
  margin-left: 5%;
  width: 80%;
    /* change layout and sizing for main body text */
}

.container-title{
  font-family: 'Helvetics Neue', 'Helvetica', sans-serif;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 3px;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-top: 8%;
  width: 70%;
    /* change layout and sizing for title */
}

.flexbox-item{
  display: flex;
  /* create flexbox to arrange columns */
}
