* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: Helvetica, sans-serif;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.charliescafe {
  margin: 10px;
  padding: 0px 50px;
  width: 75%;
  min-height: 50px;
  flex-grow: 1;
}

.dropdownbutton {
  margin: 10px;
  width: 50px;
  flex-grow: 1;
  align-content: flex-end;
}

.img-hayden {
  width: 100%;
  height: auto;
  background-size: cover;
}

/* dropdown button */
.dropbtn {
  background-color: white;
  color: #494949;
  padding: 16px;
  font-size: 40px;
  font-style: italic;
  border: none;
}

/* the container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #494949;
  min-width: 160px;
  z-index: 1;
}

/* links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: regular;
  display: block;
  align-items: center;
}

/* change color of dropdown links on hover */
.dropdown-content a:hover {color: grey;}

/* show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: black;}

.img-pour {
  margin: auto;
  width: 50px;
  height: auto;
}

.img-beans {
  margin: auto;
  width: 50px;
  height: auto;
}

.img-allyouneed {
  margin: auto;
  width: 50px;
  height: auto;
}

.img-machine {
  margin: auto;
  width: 50px;
  height: auto;
}

h1 {
  color: #494949;
  font-size: 40px;
  font-weight: bold;
  padding: 16px;
}

h2 {
  color: #494949;
  font-size: 30px;
  font-weight: bold;
  margin: 1% 0% 0% 3.5%;
}

h3 {
color: #494949;
font-size: 25px;
font-weight: regular;
margin: 1% 0% 0% 3.5%;
}

h4 {
  color: #494949;
  font-size: 18px;
  font-weight: regular;
  margin: 1% 0% 0% 3.5%;
  width: 250;
}

p {
  color: #494949;
  font-size: 18px;
  font-weight: lighter;
  margin: 1% 0% 0% 3.5%;
  width: 250;
}
