* {
  box-sizing: border-box;
  margin: 0;

}

body{
  font-family: Helvetica, sans-serif;
}

.charliescafe {
  margin: 10px;
  padding: 0px 50px;
  width: 75%;
  min-height: 50px;
  flex-grow: 1;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column-full {
  flex: 100%;
  max-width: 100%;
  padding: 0 4px;
}

.column-full img {
  margin-top: 8px;
  vertical-align: middle;
  object-fit: cover;
  width: 100%;
}

/* dropdown button */
.dropbtn {
  background-color: white;
  color: #494949;
  /* padding: 16px; */
  font-size: 40px;
  font-style: italic;
  border: none;
}

/* the container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownbutton {
  margin: 10px;
  width: 50px;
  flex-grow: 1;
  align-content: flex-end;
}

/* dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #494949;
  min-width: 160px;
  z-index: 1;
}

/* links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: regular;
  display: block;
  align-items: center;
}

/* change color of dropdown links on hover */
.dropdown-content a:hover {color: grey;}

/* show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: black;}

h1 {
  color: #494949;
  font-size: 40px;
  font-weight: bold;
}

h2 {
  color: #494949;
  font-size: 30px;
  font-weight: bold;
  padding-left: 50px;
  padding-right: 50px;
}

h3 {
  color: #494949;
  font-size: 25px;
  font-weight: regular;
  padding-left: 50px;
  padding-right: 50px;
}

h4 {
  color: #494949;
  font-size: 18px;
  font-weight: regular;
  padding-left:50px;
  padding-right: 50px;
}

.img-allyouneed {
  padding: 50px;
}

.img-beans {
  margin-bottom: 50px;
}

.img-hayden {
  margin-bottom: 50px;
}

.img-machine {
  padding: 50px;
}

.img-pour {
  padding: 50px;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

p {
  color: #494949;
  font-size: 18px;
  font-weight: lighter;
  padding-left: 50px;
  padding-right: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
